<div id="sect1" class="row mgTp">
  <!-- <style>
    h1 {text-align: center;}
    p {text-align: center;}
    div {text-align: center;}
    </style> -->
      <!-- <h1> Saloon Booking System </h1>   -->

    <!-- <p>This is a paragraph.</p>
    <div>This is a div.</div> -->
    

    <div class="col-md-6 offset-md-3">
        <div class="row text-center" style="margin-top: 150px;">

            <div class="col-lg-6 col-md-6 mb-4">
              <div class="card h-100" >
                <img class="card-img-top" src="../../../assets/img/admin.jpg"  height="280px" alt="">
                <div class="card-body">
                  <h5 class="card-title" >Admin</h5>
                </div>
                <div class="card-footer">
                  <a   style="color:rgb(255, 255, 255); cursor: pointer;" routerLink="/admin" class="btn btn-primary">Login</a>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-md-6 mb-4">
                <div class="card h-100" >
                  <img class="card-img-top" src="../../../assets/img/image.jpg"  height="280px" alt="">
                  <div class="card-body">
                    <h5 class="card-title">User Login</h5>
                  </div>
                  <div class="card-footer">
                    <a   style="color:#fff; cursor: pointer;margin-right: 10px" routerLink="/login" class="btn btn-primary">Login</a>
                    <a   style="color:#fff; cursor: pointer;" routerLink="/register" class="btn btn-primary">Register</a>
                  </div>
                </div>
              </div>
          </div>

    </div>
</div>